.advantages {
  padding-top: 34px;
  padding-bottom: 30px;

  @media (min-width: $screen-m) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  @media (min-width: $screen-l) {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  &__wrapper {
    width: 80%;
    margin: 0 auto;

    @media (min-width: $screen-m) {
      width: 668px;
    }

    @media (min-width: $screen-l) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  &__list-wrapper {
    @media (min-width: $screen-m) {
      display: flex;
    }
  }

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 85px;
  }

  &__item-title {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: $black;
  }
}
