.advantages {
  padding-top: 34px;

  &__wrapper {
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item-title {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: $black;
  }

}
