.advantages {
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: $screen-m) {
    padding-top: 43px;
    padding-bottom: 57px;
  }

  @media (min-width: $screen-l) {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  &__wrapper {
    width: 80%;
    margin: 0 auto;

    @media (min-width: $screen-m) {
      width: 668px;
    }

    @media (min-width: $screen-l) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  &__list-wrapper {
    @media (min-width: $screen-m) {
      display: flex;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-title;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black;

    @media (min-width: $screen-m) {
      margin-bottom: 47px;
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 50px;
      font-size: 53px;
      line-height: 57px;
    }
  }

  &__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      @media (min-width: $screen-l) {
        margin-bottom: 0;
        margin-right: 50px;
      }
    }

    @media (min-width: $screen-l) {
      width: 300px;
    }
  }

  &__item {
    width: 100%;
    padding-top: 55px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 27px;

      @media (min-width: $screen-m) {
        margin-bottom: 57px;
      }
    }

    @media (min-width: $screen-m) {
      width: 88%;
    }

    @media (min-width: $screen-l) {
      padding-top: 53px;
      width: 100%;
    }
  }

  &__item-title {
    margin: 0;
    font-family: $font-title;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: $black;

    @media (min-width: $screen-m) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__item-ico {
    position: absolute;
    top: 0;
    fill: $color-accent;

    &--eco {
      width: 32px;
      height: 37px;
      left: 8px;
    }

    &--money {
      width: 47px;
      height: 27px;
      left: 0;
    }

    &--like {
      width: 34px;
      height: 27px;
      left: 7px;
    }

    &--knit {
      width: 35px;
      height: 35px;
      left: 3px;
    }

    &--rocket {
      width: 55px;
      height: 23px;
      left: -5px;
    }

    &--gift {
      width: 33px;
      height: 32px;
      left: 1px;
    }
  }
}
