@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes error {
  0% {
    background-color: $color-accent;
  }

  50% {
    background-color: #b12e2e;
  }

  100% {
    background-color: $color-accent;
  }
}
