.btn {
  padding-top: 14px;
  padding-bottom: 15px;
  background-color: $btn-main-bg;
  border: 2px solid $btn-main-border;
  display: block;
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $btn-main-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $btn-main-bg--hover;
    color: $btn-main-color--hover;
  }

  &:active {
    color: $btn-main-color--active;
  }
}
