.card {
  width: 260px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 10px 0 $shadow-color--light;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $shadow-color--light;
  }

  @media (min-width: $screen-m) {
    width: 670px;
    min-height: 334px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $screen-l) {
    width: 316px;
    flex-direction: column;
  }

  &__link {
    display: block;
    line-height: 10px;
  }

  &__descr {
    padding: 30px 28px;
    border: 1px solid $border-color;

    @media (min-width: $screen-m) {
      width: 336px;
      padding-top: 20px;
      padding-left: 28px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (min-width: $screen-l) {
      width: 316px;
      height: 197px;
    }
  }

  &__text {
    padding-bottom: 25px;

    @media (min-width: $screen-l) {
      padding-bottom: 15px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__title a {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: $title-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $black-light;
    }

    &:active {
      color: $black-lightest;
    }

    @media (min-width: $screen-m) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__buy {
    padding-top: 25px;
    border-top: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
  }

  &__props {
    margin: 0;
    font-size: 13px;
    line-height: 30px;

    @media (min-width: $screen-m) {
      font-size: 15px;
    }
  }

  &__price {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;

    @media (min-width: $screen-m) {
      font-size: 17px;
    }
  }

  &__btn {
    width: 20px;
    height: 19px;
    padding: 0;
    border: none;
    background: none;

    &:hover .card__cart-icon,
    &:focus .card__cart-icon {
      opacity: 1;
      fill: $color-accent--dark;
    }

    &:active .card__cart-icon {
      opacity: 0.3;
      fill: $color-accent--dark;
    }
  }

  &__cart-icon{
    opacity: 0.2;
  }
}
