.card {
  width: 260px;

  @media (min-width: $screen-m) {
    width: 670px;
    min-height: 334px;
    display: flex;
  }

  @media (min-width: $screen-l) {
    width: 316px;
    flex-direction: column;
  }

  &__link {
    display: block;
    line-height: 0px;
  }

  &__descr {
    border: 1px solid $border-color;

    @media (min-width: $screen-m) {
      width: 335px;
      padding-top:25px;
      padding-left: 28px;
    }

    @media (min-width: $screen-l) {
      width: 316px;
      min-height: 197px;
    }

  }

  &__title {
    margin: 0;
  }

  &__title a {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: $title-color;
    text-decoration: none;
  }

  &__props {
    margin: 0;
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }
}
