.cart-modal {
  width: 320px;
  min-height: 336px;
  margin-left: -160px;
  padding-top: 30px;
  padding-bottom: 46px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid $border-color;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 50%;
  background-color: $bg-color;
  box-shadow: 0 5px 10px 0 $shadow-color;
  z-index: 60;

  &--opened {
    display: flex;
  }

  @media (min-width: $screen-m) {
    width: 566px;
    margin-left: -288px;
    padding-top: 34px;
    padding-bottom: 45px;
    padding-right: 103px;
    padding-left: 103px;
  }

  &__block {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: $title-color;
    text-transform: uppercase;

    & br {
      @media (min-width: $screen-m) {
        display: none;
      }
    }

    @media (min-width: $screen-m) {
      font-size: 30px;
      line-height: 57px;
    }
  }

  &__legend {
    margin: 0 auto 25px auto;

    @media (min-width: $screen-m) {
      margin-bottom: 19px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__radio-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
