.catalog {
  width: 80%;
  margin: 0 auto;
  background-color: $bg-color;

  @media (min-width: $screen-m) {
    width: 668px;
  }

  @media (min-width: $screen-l) {
    width: 1050px;
    margin-bottom: 57px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-l) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media (min-width: $screen-m) {
      margin-bottom: 54px;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 0;
    }
  }
}
