.category-nav {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  color: $white;

  @media (min-width: $screen-m) {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    @media (min-width: $screen-m) {
      flex-direction: row;
    }
  }

  &__link {
    padding-top: 30px;
    padding-right: 185px;
    padding-bottom: 30px;
    padding-left: 30px;

    display: block;

    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    color: $white;
    text-decoration: none;

    &--interior {
      background-color: $color-accent;
    }

    &--toys {
      background-color: $color-accent--dark;
    }

    @media (min-width: $screen-m) {
      width: 334px;
      min-height: 119px;
    }

    @media (min-width: $screen-l) {
      width: 525px;
    }
  }
}
