.category-list {
  margin: 0;
  padding: 0;
}

.category-list__link {
  padding-top: 30px;
  padding-right: 185px;
  padding-bottom: 30px;
  padding-left: 30px;

  display: block;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: $white;
  text-decoration: none;

  &--interior {
    background-color: $color-accent;
  }

  &--toys {
    background-color: $color-accent--dark;
  }
}
