.checkbox-group {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-m) {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-l) {
    width: 800px;
    justify-content: space-between;
  }
}

.checkbox-group__item {
  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $screen-m) {
      margin-bottom: 23px;
    }
  }

  &:nth-child(2n-1) {
    margin-right: 80px;

    @media (min-width: $screen-l) {
      margin-right: 0;
    }
  }

  @media (min-width: $screen-m) {
    width: 40%;
    margin-bottom: 23px;
  }

  @media (min-width: $screen-l) {
    width: 33.3%;
  }
}
