.checkbox {
  min-height: 40px;
  display: flex;
  align-items: center;
  position: relative;

  &:hover &__text::before {
    border-color: $color-accent;
  }

  @media (min-width: $screen-m) {
    min-height: 52px;
  }

  &__input {
    &:checked + .checkbox__text::after {
      display: block;
    }

    &:focus + .checkbox__text::before {
      border-color: $color-accent;
    }

    &:active + .checkbox__text::before {
      border-color: $color-main;
      opacity: 0.3;
    }
  }

  &__text {
    padding-left: 60px;
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: $input-text-color;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $color-main;

      @media (min-width: $screen-m) {
        width: 52px;
        height: 52px;
      }
    }

    &::after {
      content: "";
      width: 9px;
      height: 20px;
      position: absolute;
      top: 7px;
      left: 16px;
      display: none;
      border-bottom: 2px solid $color-main;
      border-right: 2px solid $color-main;
      transform: rotate(45deg);

      @media (min-width: $screen-m) {
        width: 15px;
        height: 30px;
        top: 6px;
        left: 19px;
      }
    }

    @media (min-width: $screen-m) {
      padding-left: 80px;
    }
  }
}
