.feedback-item {
  &__content-block {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 30px;

    @media (min-width: $screen-m) {
      max-width: 645px;
      margin-bottom: 60px;
      font-size: 17px;
      line-height: 30px;
    }

    @media (min-width: $screen-l) {
      max-width: 786px;
      margin-bottom: 40px;
    }
  }

  &__author {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: $black;
  }

  &__author-block {
    margin: 0;
  }

  &__account {
    font-size: 17px;
    font-weight: 500;
    color: $color-main;
  }
}
