.field {
  position: relative;

  &__input {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 2px solid $input-border-color;
    background-color: transparent;
    font-size: 17px;
    line-height: 18px;

    &:focus,
    &:hover {
      border-color: $color-accent;
      outline: none;
    }

    &:hover + .field__icon,
    &:focus + .field__icon {
      fill: $color-accent;
      opacity: 1;
    }

    &--comment {
      height: 142px;
      margin: 0;
      border: 2px solid $input-border-color;
      padding: 17px 80px 17px 17px;
    }

    @media (min-width: $screen-m) {
      padding-top: 12px;
      padding-left: 18px;
      padding-bottom: 11px;
      font-size: 19px;
    }
  }

  &__icon {
    position: absolute;
    top: 5px;
    right: 0;
    opacity: 0.2;

    &--tel {
      width: 25px;
      height: 24px;
    }

    &--mail {
      width: 32px;
      height: 32px;
    }

    @media (min-width: $screen-m) {
      right: 23px;
      top: 13px;
    }

    @media (min-width: $screen-l) {
      right: 6px;
      top: 10px;
    }
  }
}
