.form {
  &__fieldset {
    border: none;
    padding: 0;
  }

  &__group {
    width: 80%;
    padding-top: 32px;
    padding-bottom: 0;
    margin: 0 auto;
    position: relative;
    border: none;
    border-top: 1px solid $color-accent;

    &--tel {
      margin-bottom: 40px;
    }

    @media (min-width: $screen-m) {
      width: 668px;
      padding-top: 0;
      padding-left: 165px;
      display: flex;
      border: none;
    }

    @media (min-width: $screen-l) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  &__controls {
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    margin-top: 10px;
    border: none;

    @media (min-width: $screen-m) {
      width: 668px;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (min-width: $screen-l) {
      width: 700px;
      padding-left: 0;
    }
  }

  &__section {
    &:not(:last-child) {
    margin-bottom: 40px;

      @media (min-width: $screen-m) {
        margin-bottom: 0;
      }
    }

    &:nth-child(2n) {
      @media (min-width: $screen-m) {
        background-color: $bg-color-secondary;
      }
    }

    @media (min-width: $screen-m) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__group-label {
    margin-top: 0;
    margin-bottom: 25px;
    padding-right: 25px;
    position: absolute;
    display: inline-block;
    top: -10px;
    background: $bg-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: $color-accent;
    text-transform: uppercase;

    @media (min-width: $screen-m) {
      left: 0;
      top: 16px;
      background-color: transparent;
    }

    @media (min-width: $screen-l) {
      left: 60px;
    }
  }

  &__group-field {
    @media (min-width: $screen-m) {
      flex-grow: 1;
    }

    @media (min-width: $screen-l) {
      width: 700px;
      flex-grow: 0;
    }
  }

  &__label {
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: $input-text-color;

    @media (min-width: $screen-m) {
      padding-right: 25px;
    }
  }

  &__notice {
    margin-bottom: 30px;
    display: block;
    font-size: 14px;
    line-height: 16px;

    @media (min-width: $screen-m) {
      margin-bottom: 0;
      order: 2;
      font-size: 17px;
    }
  }
  &__field-block-wrapper {
    @media (min-width: $screen-m) {
      width: 100%;
    }

    @media (min-width: $screen-l) {
      width: 700px;
    }
  }

  &__field-block {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-m) {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    width: 100%;

    @media (min-width: $screen-m) {
      width: 230px;
      order: 1;
    }
  }
}
