.form__fieldset {
  border: none;
  padding: 0;
}

.form__group {
  width: 80%;
  padding-top: 32px;
  padding-bottom: 0;
  margin: 0 auto;
  position: relative;
  border: none;
  border-top: 1px solid $color-accent;

  &--tel,
  &--email {
    margin-bottom: 40px;
    padding-top: 16px;
  }

  &--tel {
    @media (min-width: $screen-m) {
      margin-bottom: 25px;
    }
  }

  &--email {
    @media (min-width: $screen-m) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-m) {
    width: 668px;
    padding-top: 0;
    padding-left: 165px;
    display: flex;
    border: none;
  }

  @media (min-width: $screen-l) {
    width: 1050px;
    padding-left: 175px;
  }
}

.form__controls {
  width: 80%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  margin-top: 10px;
  border: none;

  @media (min-width: $screen-m) {
    width: 668px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $screen-l) {
    width: 700px;
    padding-left: 0;
  }
}

.form__section {
  &:not(:last-child) {
    margin-bottom: 40px;

    @media (min-width: $screen-m) {
      margin-bottom: 0;
    }
  }

  &:nth-child(2n) {
    @media (min-width: $screen-m) {
      background-color: $bg-color-secondary;
    }
  }

  @media (min-width: $screen-m) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &--checkboxes {
    @media (min-width: $screen-m) {
      padding-bottom: 27px;
    }
  }

  &--fields {
    @media (min-width: $screen-m) {
      padding-bottom: 50px;
    }
  }

  &--contacts {
    @media (min-width: $screen-m) {
      padding-bottom: 50px;
    }
  }

  &--comment {
    @media (min-width: $screen-m) {
      padding-bottom: 50px;
    }

    @media (min-width: $screen-l) {
      padding-bottom: 40px;
    }
  }
}

.form__group-label {
  margin-top: 0;
  margin-bottom: 25px;
  padding-right: 25px;
  position: absolute;
  display: inline-block;
  top: -10px;
  background: $bg-color;
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $color-accent;
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    left: 0;
    top: 16px;
    background-color: transparent;
  }

  @media (min-width: $screen-l) {
    left: 60px;
  }
}

.form__group-field {
  @media (min-width: $screen-m) {
    flex-grow: 1;
  }

  @media (min-width: $screen-l) {
    width: 700px;
    flex-grow: 0;
  }
}

.form__label {
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: $input-text-color;

  @media (min-width: $screen-m) {
    padding-right: 25px;
    font-size: 19px;
    line-height: 18px;
  }
}

.form__notice {
  margin-bottom: 30px;
  display: block;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $screen-m) {
    margin-bottom: 0;
    order: 2;
    font-size: 17px;
  }
}

.form__field-block-wrapper {
  @media (min-width: $screen-m) {
    width: 100%;
  }

  @media (min-width: $screen-l) {
    width: 700px;
  }
}

.form__field-block {
  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $screen-m) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $screen-m) {
    display: flex;
    align-items: center;
  }
}

.form__btn {
  width: 100%;

  @media (min-width: $screen-m) {
    width: 230px;
    order: 1;
  }
}
