.form {
  @media (min-width: $screen-m) {
    padding-bottom: 50px;
  }

  &__fieldset {
    border: none;
    padding: 0;
  }

  &__group {
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    border: none;

    &--tel {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-m) {
      width: 668px;
      display: flex;
    }

    @media (min-width: $screen-l) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  &__controls {
    width: 80%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    border: none;

    @media (min-width: $screen-m) {
      width: 668px;
      display: flex;
      align-items: center;
    }

    @media (min-width: $screen-l) {
      width: 1050px;
      padding-left: 340px;
    }
  }

  &__section {
    margin-bottom: 30px;

    &:nth-child(2n) {
      @media (min-width: $screen-m) {
        background-color: $bg-color-secondary;
      }
    }

    @media (min-width: $screen-m) {
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__group-label {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: $color-accent;

    @media (min-width: $screen-m) {
      width: 167px;
    }

    @media (min-width: $screen-l) {
      width: 110px;
    }
  }

  &__group-field {
    @media (min-width: $screen-m) {
      width: 500px;
    }

    @media (min-width: $screen-l) {
      flex-grow: 1;
    }
  }

  &__label {
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: $input-text-color;
  }

  &__notice {
    font-size: 14px;
    line-height: 16px;

    @media (min-width: $screen-m) {
      order: 2;
      margin-left: auto;
    }
  }

  &__field-block {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-l) {
      display: flex;
    }
  }

  &__btn {
    width: 100%;

    @media (min-width: $screen-m) {
      width: 230px;
      order: 1;
    }
  }
}
