.header-nav {
  min-height: 79px;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $bg-color;

  @media (min-width: $screen-m) {
    justify-content: flex-start;
  }

  @media (min-width: $screen-l) {
    padding-top: 8px;
    padding-bottom: 7px;
    justify-content: center;
  }

  &__logo {
    width: 86px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-m) {
      margin-right: 209px;
      width: 112px;
      height: 46px;
    }

    @media (min-width: $screen-l) {
      width: 149px;
      height: 72px;
      margin-right: 100px;
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;

    @media (min-width: $screen-m) {
      display: none;
    }
  }
}
