.hero {
  min-height: 489px;
  padding-top: 70px;
  display: flex;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: $bg-color-secondary;

  @media (min-width: $screen-m) {
    min-height: 746px;
    padding-top: 153px;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  @media (min-width: $screen-l) {
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-m) {
      width: 668px;
      margin: 0 auto;
    }

    @media (min-width: $screen-m) {
      width: 1050px;
    }
  }

  &__title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-m) {
      width: 60%;
    }
  }
}
