.hero {
  padding-top: 76px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg-color-secondary;

  &__title {
    margin-bottom: 120px;
  }
}
