.main-nav {
  min-height: 79px;
  position: relative;
  display: flex;
  flex-direction: column;

  &--closed .main-nav__list {
    @media (max-width: $screen-s-only) {
      display: none;
    }
  }

  &--opened .main-nav__list {
    @media (max-width: $screen-s-only) {
      display: block;
    }
  }

  &--nojs {
    & .header-nav__toggle {
      display: none;
    }

    & .main-nav__list {
      display: flex;
    }
  }

  @media (min-width: $screen-m) {
    width: 668px;
    margin: 0 auto;
    flex-direction: row;
  }

  @media (min-width: $screen-l) {
    width: 1050px;
  }

  &__block {
    @media (min-width: $screen-l) {
      order: 2;
    }
  }

  &__list.site-list {
    @media (min-width: $screen-m) {
      position: absolute;
      left: 0;
      bottom: -43px;
    }

    @media (min-width: $screen-l) {
      margin-right: 75px;
      position: relative;
      bottom: 0;
      left: 0;
      order: 1;
    }
  }

  &__list.service-list {
    @media (min-width: $screen-l) {
      position: relative;
      order: 3;
    }
  }

  &__notice {
    width: 240px;
    position: absolute;
    display: none;
    text-align: right;

    @media (min-width: $screen-m) {
      display: block;
      right: 0;
      bottom: -43px;
    }

    @media (min-width: $screen-l) {
      right: 0;
    }
  }
}
