.order {
  padding-top: 20px;
  background-color: $bg-color;

  @media (min-width: $screen-m) {
    padding-top: 68px;
  }

  @media (min-width: $screen-l) {
    padding-top: 112px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 13px;

    @media (min-width: $screen-m) {
      width: 770px;
      padding-left: 50px;
      padding-right: 100px;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-l) {
      width: 1150px;
      padding-left: 225px;
      padding-right: 225px;
      margin-bottom: 10px;
    }
  }
}
