.page-main {
  &--inner {
    padding-top: 76px;
    background-color: $bg-color-secondary;
  }

  &--inner &__content {
    background-color: $bg-color;
    padding-top: 30px;
    padding-bottom: 58px;
  }
}
