.page-header {
  min-height: 80px;
  box-shadow: 0px 1px 0 0 #ececec,
              inset 0px 1px 0 0 #ececec;
  background-color: $bg-color;

  @media (min-width: $screen-m) {
    min-height: 88px;
  }
}
