.production {
  margin: 0 auto;
  position: relative;
  background-color: $bg-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 10px 0 $shadow-color--light;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $shadow-color--light;
  }
}

.production__wrapper {
  width: 260px;
  padding-top: 25px;
  padding-bottom: 33px;
  padding-left: 34px;
  padding-right: 34px;
  border: 1px solid $border-color;

  @media (min-width: $screen-m) {
    width: 668px;
    padding-top: 40px;
    padding-bottom: 46px;
    padding-left: 40px;
    padding-right: 42px;
    margin-top: 455px;
  }

  @media (min-width: $screen-l) {
    width: 367px;
    padding-top: 96px;
    padding-left: 80px;
    padding-bottom: 57px;
    padding-right: 57px;
    margin-left: 682px;
    margin-top: 0;
  }
}


.production__title {
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 57px;
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $title-color;
  position: relative;

  @media (min-width: $screen-m) {
    padding-left: 65px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $screen-l) {
    padding-left: 0;
    margin-bottom: 35px;
  }
}

.production__video-container {
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: 21px;
  position: relative;

  @media (min-width: $screen-m) {
    width: 668px;
    height: 455px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: $screen-l) {
    width: 682px;
  }
}

.production__video-button {
  width: 100px;
  height: 77px;
  padding: 0;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -50px;
  background: none;
  outline: none;
  z-index: 90;

  &:hover .production__icon-play,
  &:focus .production__icon-play {
    transform: scale(1.2);
  }

  &:active .production__icon-play {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__poster {
  width: 260px;
  height: 150px;

  @media (min-width: $screen-m) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $screen-l) {
    width: 682px;
  }
}

.production__video {
  width: 260px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $screen-m) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $screen-l) {
    width: 682px;
  }
}

.production__icon-play {
  transition: all 0.2s ease-in-out;
}

.production__text {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $screen-m) {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $screen-m) {
    margin-bottom: 46px;
  }
}

.production__icon-video {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 6px;
  left: 0;
  fill: $color-accent;

  @media (min-width: $screen-m) {
    top: -8px;
  }

  @media (min-width: $screen-l) {
    top: -54px;
  }
}
