.promo-product {
  padding-top: 26px;
  position: relative;

  &::before {
    @media (min-width: $screen-m) {
      content: "";
      width: 100%;
      height: 24px;
      position: absolute;
      top: -15px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: top;
      z-index: 10;
    }
  }

  @media (min-width: $screen-m) {
    padding-top: 43px;
    padding-bottom: 72px;
  }

  @media (min-width: $screen-l) {
    padding-top: 120px;
    padding-bottom: 94px;
  }
}

.promo-product__wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-m) {
    width: 668px;
    align-items: flex-start;
  }

  @media (min-width: $screen-l) {
    width: 1050px;
    padding-left: 175px;
  }
}

.promo-product__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $black;

  @media (min-width: $screen-m) {
    min-width: 420px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $screen-l) {
    font-size: 53px;
    line-height: 57px;
  }
}

.promo-product__tag {
  margin-bottom: 22px;
  display: block;
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $color-accent;
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    width: 70px;
    position: absolute;
    top: 15px;
    right: 27px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $screen-l) {
    left: 47px;
    top: 15px;
  }
}

.promo-product__desc {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 24px;

  @media (min-width: $screen-m) {
    width: 290px;
    margin-bottom: 38px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $screen-l) {
    margin-bottom: 50px;
  }
}

.promo-product__table {
  line-height: 20px;
  margin-bottom: 28px;

  @media (min-width: $screen-m) {
    width: 290px;
    margin-bottom: 75px;
  }

  @media (min-width: $screen-l) {
    margin-bottom: 105px;
  }
}

.promo-product__table tbody {
  width: 260px;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-l) {
    width: 290px;
  }
}

.promo-product__table-row {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $screen-l) {
    padding-top: 8px;
    padding-bottom: 10px;
  }
}

.promo-product__field {
  min-width: 75px;
}

.promo-product__value {
  padding-left: 15px;
  padding-right: 15px;
}

.promo-product__price {
  margin: 0;
  margin-bottom: 26px;
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: $screen-m) {
    width: 290px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $screen-m) {
    margin-bottom: 32px;
  }
}

.promo-product__image {
  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-bottom: 27px;
  display: block;

  @media (min-width: $screen-m) {
    width: 333px;
    height: 404px;
    position: absolute;
    bottom: -24px;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $screen-l) {
    width: 525px;
    height: 625px;
    bottom: 73px;
    right: 0;
    top: -40px;
  }
}

.promo-product__btn {
  width: 260px;
  margin-bottom: 26px;
  align-self: center;

  @media (min-width: $screen-m) {
    width: 290px;
    margin-bottom: 52px;
    align-self: flex-start;
  }

  @media (min-width: $screen-m) {
    margin-bottom: 0;
  }
}

.promo-product__bg-zigzag-line {
  width: 100%;
  height: 6px;
  fill: $bg-color-secondary;

  @media (min-width: $screen-m) {
    height: 15px;
    position: absolute;
    bottom: 0;
  }

  @media (min-width: $screen-l) {
    height: 21px;
  }
}
