.promo-product {
  padding-top: 30px;
  padding-bottom: 36px;

  @media(min-width: $screen-m) {
    padding-top: 43px;
    padding-bottom: 53px;
  }

  @media(min-width: $screen-l)  {
    padding-top: 117px;
    padding-bottom: 73px;
  }

  &__wrapper {
    padding: 0 30px;
    margin: 0 auto;
    position: relative;

    @media(min-width: $screen-m) {
      width: 770px;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media(min-width: $screen-l) {
      width: 1050px;
      padding-left: 175px;
      padding-right: 100px;
    }
  }


  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black;

    @media(min-width: $screen-m) {
      min-width: 420px;
      margin-bottom: 50px;
      font-size: 43px;
      line-height: 50px;
    }

    @media(min-width: $screen-l) {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &__tag {
    margin-bottom: 25px;
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: $color-accent;
    text-transform: uppercase;

    @media(min-width: $screen-m) {
      width: 70px;
      position: absolute;
      top: 40px;
      right: 80px;
      line-height: 17px;
      text-align: center;
    }

    @media(min-width: $screen-l) {
      left: 147px;
    }
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 24px;

    @media(min-width: $screen-m) {
      width: 290px;
      margin-bottom: 50px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__table {
    line-height: 20px;
    margin-bottom: 28px;

    @media(min-width: $screen-m) {
      width: 290px;
      margin-bottom: 55px;
    }
  }

  &__table-row {
    border-bottom: 1px solid $border-color;
  }

  &__price {
    margin: 0;
    margin-bottom: 28px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;

    @media(min-width: $screen-m) {
      width: 290px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__image {
    width: 260px;
    height: 315px;
    margin: 0 auto;
    display: block;

    @media(min-width: $screen-m) {
      width: 333px;
      height: 404px;
      position: absolute;
      bottom: 53px;
      right: 40px;
      z-index: -1;
    }

    @media(min-width: $screen-l) {
      width: 525px;
      height: 625px;
      bottom: 73px;
      right: 0;
    }
  }
}
