.radio-button {
  min-height: 40px;
  display: flex;
  align-items: center;
  position: relative;

  &:hover &__text::before {
    border-color: $color-accent;
  }

  @media (min-width: $screen-m) {
    min-height: 52px;
  }

  &__input {
    &:checked + .radio-button__text::after {
      display: block;
    }

    &:focus + .radio-button__text::before {
      border-color: $color-accent;
    }

    &:active + .radio-button__text::before {
      border-color: $color-main;
      opacity: 0.3;
    }
  }

  &__text {
    padding-left: 60px;
    display: block;
    font-family: $font-title;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: $input-text-color;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $color-main;
      border-radius: 50%;

      @media (min-width: $screen-m) {
        width: 52px;
        height: 52px;
      }
    }

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      top: 12px;
      left: 12px;
      display: none;
      background-color: $color-accent;
      border: 8px solid $color-accent;
      border-radius: 50%;

      @media (min-width: $screen-m) {
        width: 22px;
        height: 22px;
        top: 15px;
        left: 15px;
      }
    }

    @media (min-width: $screen-m) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 80px;
      font-size: 19px;
      line-height: 18px;
    }
  }
}
