.reviews {
  position: relative;
}

.reviews__wrapper {
  padding-top: 28px;
  width: 80%;
  margin: 0 auto;
  position: relative;

  @media (min-width: $screen-m) {
    width: 768px;
    padding-top: 85px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, $bg-color-secondary 0%, $overlay-color 100%);
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $screen-l) {
    width: 1050px;
    padding-left: 175px;
    padding-top: 70px;
    padding-bottom: 67px;
    margin-bottom: 78px;
    background-size: 33% auto;
  }
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-title;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: $title-color;

  @media (min-width: $screen-m) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: $screen-l) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__slider {
  margin-bottom: 37px;

  @media (min-width: $screen-m) {
    margin-bottom: 0;
  }
}

.reviews__btn {
  width: 260px;
  margin-bottom: 34px;

  @media (min-width: $screen-m) {
    width: 175px;
    position: absolute;
    top: 87px;
    right: 50px;
  }

  @media (min-width: $screen-l) {
    width: 175px;
    position: absolute;
    top: 80px;
    right: 0;
  }
}

.reviews__bg-zigzag-line {
  width: 100%;
  height: 6px;
  fill: $bg-color-secondary;

  @media (min-width: $screen-m) {
    height: 15px;
    position: absolute;
    bottom: -78px;
  }

  @media (min-width: $screen-l) {
    height: 21px;
    bottom: -86px;
  }
}
