.reviews {
  padding-top: 25px;
  padding-bottom: 45px;

  @media (min-width: $screen-m) {
    padding-top: 86px;
    padding-bottom: 70px;
  }

  @media (min-width: $screen-l) {
    padding-top: 80px;
    padding-bottom: 67px;
  }

  &__wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;

    @media (min-width: $screen-m) {
      width: 668px;
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $screen-l) {
      width: 1050px;
      padding-left: 175px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black;
  }

  &__slider{
    margin-bottom: 25px;
  }

  &__btn {
    width: 260px;

    @media (min-width: $screen-m) {
      position: absolute;
      top: 0;
      right: 20px;
    }
  }
}
