@font-face {
  font-weight: 500;
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans Bold";
  src: url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-regular;
  font-size: $font-size;
  font-weight: 500;
  line-height: $line-height;
  color: $color-main;
  overflow-x: hidden;
}
