.service-list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  background-color: $bg-color;
  flex-direction: column;

  @media (min-width: $screen-m) {
    display: flex;
    flex-direction: row;
  }

  &__item {
    @media (min-width: $screen-m) {
      border-left: 1px solid $border-color;
    }
  }

  &__link {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 75px;
    display: block;
    border-bottom: 1px solid $border-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: $black;

    &:hover {
      color: $black-light;

      & .service-list__cart-icon,
      & .service-list__search-icon {
        opacity: 1;
        fill: $color-accent--dark;
      }
    }

    &:active {
      color: $black-lightest;

      & .service-list__cart-icon,
      & .service-list__search-icon {
        opacity: 0.3;
        fill: $color-accent--dark;
      }
    }

    @media (min-width: $screen-m) {
      border-bottom: none;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--search {
      position: relative;

      @media (min-width: $screen-m) {
        width: 82px;
        height: 88px;
      }
    }

    &--search span {
      @media (min-width: $screen-m) {
        display: none;
      }
    }

    &--cart {
      position: relative;

      @media (min-width: $screen-m) {
        height: 88px;
        padding-left: 83px;
      }
    }
  }

  &__search-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 32px;
    opacity: 0.2;

    @media (min-width: $screen-m) {
      top: 40px;
    }
  }

  &__cart-icon {
    width: 21px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 32px;
    opacity: 0.2;

    @media (min-width: $screen-m) {
      top: 40px;
    }
  }
}
