.service-list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  background-color: $bg-color;

  @media (min-width: $screen-m) {
    display: flex;
  }

  &__item  {
    @media (min-width: $screen-m) {
      border-left: 1px solid $border-color;
    }
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 30px;
    padding-left: 46px;
    display: block;
    border-bottom: 1px solid $border-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: $black;


    &:hover {
      color: $black-light;
    }

    &:active {
      color: $black-lightest;
    }

    @media (min-width: $screen-m) {
      border-bottom: none;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--search {
      @media (min-width: $screen-m) {
        width: 82px;
        height: 88px;
      }
    }

    &--search span {
      @media (min-width: $screen-m) {
        display: none;
      }
    }

    &--cart {
      @media (min-width: $screen-m) {
        height: 88px;
        padding-left: 83px;
      }
    }
  }
}
