.site-list {
  margin: 0;
  padding: 0;
  border-top: 1px solid $border-color;
  text-align: left;
  list-style: none;
  background-color: $white;
  flex-direction: column;

  @media (min-width: $screen-m) {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
  }
}

.site-list__item {
  position: relative;

  &:first-child {
    @media (min-width: $screen-m) {
      margin-right: 37px;
    }

    @media (min-width: $screen-l) {
      padding-right: 35px;
      margin-right: 0;
      border-right: 1px solid $border-color;
    }
  }

  &:last-child {
    @media (min-width: $screen-l) {
      padding-left: 35px;
    }
  }
}

.site-list__link {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;
  display: block;
  border-bottom: 1px solid $border-color;
  font-family: $font-title;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: $title-color;

  &[href]:hover {
    color: $black-light;
  }

  &:active {
    color: $black-lightest;
  }

  @media (min-width: $screen-m) {
    padding: 0;
    border-bottom: none;
    font-size: 15px;
  }

  @media (min-width: $screen-l) {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 17px;
  }
}

.site-list__dropdown {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;

  @media (min-width: $screen-l) {
    min-width: 320px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 110px;
    left: 0;
  }
}

.site-list__dropdown a {
  font-family: $font-title;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $title-color;
  text-decoration: none;
}

.site-list__dropdown-item {
  margin-right: 60px;
}

.site-list__dropdown-item a:hover,
.site-list__dropdown-item a:focus {
  opacity: 0.6;
}

.site-list__dropdown-item a:active {
  opacity: 0.3;
}
