.slider {
  position: relative;

  @media (min-width: $screen-m) {
    width: 642px;
    display: flex;
  }

  @media (min-width: $screen-l) {
    width: 856px;
  }

  &__wrapper {
    margin-bottom: 35px;
  }

  &__togglers {
    height: 52px;
    border: 1px solid $border-color;
    display: flex;

    @media (min-width: $screen-m) {
      position: absolute;
      bottom: 50px;
      right: 0;
      border: none;
    }
  }

  &__toggler {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: $white;
    border: none;

    &:first-child {
      border-right: 1px solid $border-color;

      @media (min-width: $screen-m) {
        border: none;
      }
    }

    &:hover .slider__arrow,
    &:focus .slider__arrow {
      opacity: 0.6;
    }

    &:active .slider__arrow {
      opacity: 0.3;
    }

    &--prev {
      @media (min-width: $screen-m) {
        padding-right: 18px;
      }
    }

    &--next {
      @media (min-width: $screen-m) {
        padding-left: 18px;
      }
    }
  }
}
