@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'visually-hidden';
@import 'scaffolding.scss';
@import 'page-header';
@import 'header-nav';
@import 'main-nav';
@import 'site-list';
@import 'page-main';
@import 'page-title';
@import 'hero';
@import 'category-nav';
@import 'category-list';
@import 'promo-product';
@import 'btn';
@import 'advantages';
@import 'reviews';
@import 'slider';
@import 'feedback-item';
@import 'contacts';
@import 'mail-link';
@import 'page-footer';
@import 'social-links';
@import 'cart-modal';
@import 'modal';
@import 'cart-btn';
@import 'size-radio';
@import 'order';
@import 'form';
@import 'radio-button-group';
@import 'radio-button';
@import 'checkbox-group';
@import 'checkbox';
@import 'field';
@import 'catalog';
@import 'card';
@import 'production';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: $color-main;
}

